<footer>
    <div class="footer-head">
        <div class="card">
            <a class="footer-links" href="/">BookBlaze</a>
            <div class="card-content">
                <!-- <a class="footer-links hover-links" href="javascript:void()">5th floor, Maple leaf Building,</a>
                <a class="footer-links hover-links" href="javascript:void()">MG Road, sector-18,</a>
                <a class="footer-links hover-links" href="javascript:void()">Chandigarh, India</a> -->
                <a class="footer-links hover-links" href="javascript:void()">Phone: +91 12345 67890</a>
                <a class="footer-links hover-links" href="javascript:void()">Email: bookblaze5432@gmail.com</a>
            </div>
        </div>
        <div class="card">
            <a class="footer-links" href="/bookstore">Shop</a>
            <div class="card-content">
                <a class="footer-links hover-links" href="javascript:void()">FAQ</a>
                <a class="footer-links hover-links" href="javascript:void()">Shipping and Return</a>
                <a class="footer-links hover-links" href="javascript:void()">Store Policy</a>
                <a class="footer-links hover-links" href="javascript:void()">Payment method</a>
            </div>
        </div>
        <div class="card">
            <a class="footer-links" href="javascript:void()">Social Media</a>
            <div class="card-content">
                <a class="footer-links hover-links" href="javascript:void()">Instagram</a>
                <a class="footer-links hover-links" href="javascript:void()">Twitter</a>
                <a class="footer-links hover-links" href="javascript:void()">Facebook</a>
                <a class="footer-links hover-links" href="javascript:void()">LinkedIn</a>
            </div>
        </div>
        <div class="card">
            <a class="footer-links" href="javascript:void()">Be the first to know</a>
            <div class="card-content">
                <a class="footer-links" href="javascript:void()">Subscribe to our newsletter</a>
                <form action="/subscribe" class="card-content" method="POST">
                    <label class="footer-links" for="footer-email">Enter your Email</label>
                    <input class="footer-input" name="email" type="email" id="footer-email" placeholder="" required>
                    <button type="submit" class="button align-left">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p class="hover-links" style="cursor: pointer;" href="javascript:void()">© 2025 by BookBlaze. Powered by Neha
            Soni</p>
    </div>
</footer>