<section class="c-section">
    <div class="title">
        <%= contact_title %>
    </div>
    <div class="contactus-page">
        <div class="sideimg animation">
            <img src="/images/contact us image.jpg" alt="">
        </div>
        <div class="contactus">
            <form action="/submit" method="POST">
                <label class="form-label" for="f-name">Your Name :</label>
                <br>
                <input type="text" class="input" name="fname" id="fname" placeholder="Enter your first name here" style="border: <%= border %>"
                    required autocomplete="true">
                    <br>
                <label class="form-label" for="email">Email :</label>
                <br>
                <input type="email" class="input" name="email" id="email" placeholder="Enter your email here" style="border: <%= border %>"
                    required>
                <br>
                <label class="form-label" for="msg">Message :</label>
                <textarea class="input" name="message" id="message" rows="6" placeholder="Write your text here"
                    style="border: <%= border %> !important" required></textarea>
                 <button class="button submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>