<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheet -->
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
    integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- favicon -->
       <link rel="shortcut icon" href="/images/brand logo png.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>About Us</title>
</head>

<body>

    <!-- header section starts here -->
    <%- include('partials/header') %>
        <!-- header section ends here -->


        <!-- main content section starts here -->
        <main>
            <div>
                <div class="about-section">
                    <div class="title about-title-font">
                        Where Stories spark and readers unite
                    </div>
                    <div class="about-paragraph">
                        &#10075;&#10075;BookBlaze is more than just a book website - it’s a place where stories breath,
                        authors are celebrated, readers come together. Whether you’re searching for your next favourite
                        read or diving into honest reviews, BookBlaze is your literary companion.&#10076;&#10076;
                    </div>
                </div>
                <hr class="about-hr">

                <div class="card-layout">
                    <div class="left-card">
                        <div class="cards card1">
                            <div class="card-title">
                                Our Mission
                            </div>
                            <div class="card-content">
                                &#10075;&#10075;To ignite a vibrant community where books are not just read -
                                they’re
                                experienced. We aim to fuel the passion for reading by spotlight powerful stories,
                                stunning covers, and the brilliant minds behind them.&#10076;&#10076;
                            </div>

                        </div>
                        <div class=" card2">
                            <img class="card-img" src="/images/about image 1.jpg" alt="">
                        </div>
                        <div class="cards card3">
                            <div class="card-title-color">
                                Meet the community
                            </div>
                            <div class="card-content-color">
                                &#10075;&#10075;BookBlaze is powered by passionate readers, reviews, and writers.
                                Whether you’re a casual reader or a literary enthusiast, you’ll find your place
                                here.
                                Join us in celebrating the magic of books and the joy of reading.&#10076;&#10076;
                            </div>
                        </div>
                    </div>
                    <div class="right-card">
                        <div class="cards card4">
                            <div class="card-title-color">
                                Our Vision
                            </div>
                            <div class="card-content-color">
                                &#10075;&#10075;We imagined a world where reading connects people across boundaries.
                                BookBlaze strives to build a platform that empowers readers to explore, express, and
                                engage with stories that matter.&#10076;&#10076;
                            </div>
                        </div>
                        <div class="card2">
                            <img src="/images/about imge 2.jpg" alt="" class="card-img">
                        </div>
                        <div class="cards card6">
                            <div class="card-title">
                                Why BookBlaze?
                            </div>
                            <div class="card-content">
                                &#10075;&#10075;We believe books have the power to transform. BookBlaze is designed
                                to
                                make reading personal, visual, and inspiring — because every book deserves to be
                                seen,
                                and every reader deserves a voice.&#10076;&#10076;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- main content section ends here -->

        <!-- footer section starts here -->

        <%- include('partials/footer') %>

            <!-- footer section ends here -->

            <script src="/public/js/index.js"></script>

</body>

</html>