<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- favicon -->
     <link rel="shortcut icon" href="/images/favicon2.ico" type="image/x-icon">
    <title>Contact Us</title>
</head>
<body>

    <!-- header section starts here -->

        <%- include('partials/header') %>

    <!-- header section ends here -->

    <!-- contact form section starts here -->

       <%- include('partials/form', { border: border, contact_title: contact_title }) %>


    <!-- contact form section ends here -->

    <!-- footer section starts here -->

        <%- include('partials/footer') %>

    <!-- footer section ends here -->


</body>
</html>