<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
     <link rel="shortcut icon" href="/images/favicon2.ico" type="image/x-icon">
    <title>Reset Password</title>
</head>

<body class="login-container">
    <div class="login-box">
        <h1 class="headText">Reset Password</h1>
        <% if (messages && messages.error) { %>
            <div class="alert alert-danger">
                <%= messages.error %>
            </div>
            <% } %>
                <% if (messages && messages.success) { %>
                    <div class="alert alert-success">
                        <%= messages.success %>
                    </div>
                    <% } %>
                        <form class="submit-page" action="/reset-password" method="POST">
                            <div class="input-box">
                                <input class="login-input" type="email" name="email" placeholder="Enter Your Email"
                                    required> <br>
                                <input class="login-input" type="password" name="password"
                                    placeholder="Enter New Password" required>
                            </div>
                            <button type="submit" class="button login-btn">Reset Password</button>
                        </form>
                        <div style="margin-top: 1em;"><a href="/login">Back to Login</a></div>
    </div>
</body>

</html>